@import 'mixins';

// @include media(2024) {
//     background-color: #fff;
// }

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 0.6px;
    scroll-behavior: smooth;

    @include media(1024) {
        font-size: 0.75px;
    }

    @include media(1520) {
        font-size: 0.8px;
    }
}

body {
    position: relative;
    font-family: Poppins;
    background-color: #fff;
}

.overflow-x-hidden {
    width: 100%;
    overflow-x: hidden;
}

a {
    display: inline-block;
    text-decoration: none;
}

.wrapper {
    display: block;
    max-width: 1718rem;
    width: 89.479%;
    margin: 0 auto;
}

.d-sm-block {
    display: none;

    @include media(600) {
        display: block;
    }
}

.d-flex {
    display: flex;
}

.flex-between {
    display: flex;
    justify-content: space-between;
}

.items-center {
    display: flex;
    align-items: center;
}

.flex-wrap {
    flex-wrap: wrap;
}

.button-border,
.button-transparent,
.button-primary {
    text-align: center;
    width: 100%;
    padding: 15rem 39rem;
    transition: .2s;

    @include media(500) {
        width: auto;
    }
}

.button-border {
    border: 2px solid #FFF;

    &:hover {
        background: transparent;
        color: #F7CA7C !important;
        border: 2px solid #F7CA7C;
    }
}

.button-transparent {
    color: #121212;
    font-size: 24rem;
    font-weight: 300;
    line-height: 1em;
    /* 100% */
    text-decoration-line: underline;
    text-decoration-style: solid;
    text-decoration-skip-ink: auto;
    text-decoration-thickness: auto;
    text-underline-offset: auto;
    text-underline-position: from-font;

    &:hover {
        color: #F7CA7C;
    }
}

.button-primary {
    color: #121212;
    font-size: 20rem;
    font-weight: 300;
    line-height: 1.2em;
    background: #F7CA7C;

    &:hover {
        background: #121212;
        color: #fff;
    }
}

.header-line {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 999999;
    background: rgba(18, 18, 18, 0.50);
    padding: 15rem 0;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    transition: 0.3s;

    @include media(620) {
        padding: 15rem 0;
    }


    &.active {
        background: transparent;
        backdrop-filter: blur(0px);
        -webkit-backdrop-filter: blur(0px);
    }

    ul {
        gap: 35rem;
    }

    .button-border {
        font-size: 24rem;
    }
}

.logo-navigation>a {
    display: flex;
    align-items: end;
    justify-content: center;
}

.header-line img,
.footer-top-section>img {
    width: 121.5rem;
    height: 63rem;

    @include media(620) {
        width: 135rem;
        height: 70rem;
    }
}

.footer-top-section>img {
    width: 135rem;
    height: 70rem;
}

.burger-menu a,
.header-line a {
    color: #FFF;
    font-size: 20rem;
    font-weight: 300;
    transition: .2s;

    &:hover,
    &.active {
        color: #F7CA7C;
    }
}

.logo-navigation {
    column-gap: 88rem;
}

a.burger {
    display: block;
    width: 30px;
    height: 30px;
    position: relative;
    z-index: 2;
    overflow: hidden;

    span {
        width: 30px;
        height: 2px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: #fff;
        transition: all 0.5s;

        &:nth-of-type(2) {
            top: calc(50% - 10px);
        }

        &:nth-of-type(3) {
            top: calc(50% + 10px);
        }
    }

    @include media(768) {
        display: none;
    }

    &.active {
        span {
            &:nth-of-type(1) {
                top: 50%;
                transform: translate(-50%, -50%) rotate(45deg);
            }

            &:nth-of-type(2) {
                opacity: 0;
            }

            &:nth-of-type(3) {
                top: 50%;
                transform: translate(-50%, -50%) rotate(-45deg);
            }
        }
    }
}

.burger-menu {
    position: fixed;
    opacity: 0;
    pointer-events: none;
    transform: translateY(100%);
    top: 0px;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgba(18, 18, 18, 0.50);
    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(2px);
    z-index: 999;
    transition: all 0.3s ease-in-out;

    &.active {
        opacity: 1;
        pointer-events: auto;
        transform: translateY(0);
        backdrop-filter: blur(20px);
        -webkit-backdrop-filter: blur(20px);
    }

    ul {
        padding-top: 170rem;
        flex-direction: column;
        row-gap: 30rem;
        margin: 0 auto;
        align-items: center;
    }

    a {
        font-size: 30rem;
        text-align: center;
    }
}

.mb-none {
    display: none;

    @include media(768) {
        display: block;
    }
}

.hero-block {
    background-image: url(/images/hero-bg.webp);
    background-position-y: bottom;
    background-position-x: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 80vh;
    margin-bottom: 100rem;

    @include media(769) {
        height: 100vh;
    }

    @include media(769) {
        background-position-x: auto;
    }

    h1 {
        color: #FFF;
        font-size: 57rem;
        line-height: 60rem;
        font-weight: 300;
        text-transform: uppercase;
        margin-bottom: 30rem;

        @include media(600) {
            font-size: 64rem;
            line-height: 60rem;
        }

        @include media(620) {
            width: 100%;
            font-size: 96rem;
            line-height: 80rem;
        }

        @include media (1440) {
            font-size: 120rem;
            line-height: 0.83em;
        }
    }

    p {
        max-width: 982rem;
        color: #FFF;
        font-size: 30rem;
        font-weight: 300;
        line-height: 1em;
        text-transform: uppercase;
        margin-bottom: 36rem;

        @include media(600) {
            font-size: 24rem;
        }

        @include media (1440) {
            font-size: 32rem;
        }
    }

    a {
        text-align: center;
        width: 100%;

        @include media(520) {
            max-width: 500rem;
        }

        @include media (1440) {
            font-size: 28rem;
            max-width: 600rem;
        }
    }
}

h2 {
    color: #121212;
    font-size: 64rem;
    font-weight: 300;
    line-height: 1em;
    text-transform: uppercase;
    margin-bottom: 49.99999rem;
}

.service:last-child {
    margin-bottom: 199rem;
}

.service {
    border-top: 2rem solid #121212;
    padding: 46rem 0;

    h3 {
        color: #121212;
        font-size: 35rem;
        font-weight: 300;

        text-transform: uppercase;

        @include media(769) {
            font-size: 40rem;
        }

    }

    span {
        display: inline-block;
        color: #121212;
        font-size: 24rem;
        font-weight: 300;
        line-height: 1em;
        text-transform: uppercase;
        margin-bottom: 0;

        @include media(769) {
            margin-bottom: 30rem;

        }
    }

    p {
        display: none;
        color: #121212;
        font-size: 32rem;
        font-weight: 300;
        line-height: 1em;
        text-transform: uppercase;

        @include media(769) {
            display: block;
        }
    }

    &:last-child {
        border-bottom: 2rem solid #121212;
    }
}

.yellow-title {
    color: #F7CA7C;
    font-size: 48rem;
    font-weight: 300;
    line-height: 1em;
    text-transform: uppercase;

    @include media(769) {
        line-height: 1.3em;
    }
}

.step-card {
    border: 2rem solid #121212;
    padding: 78rem 40rem;
    margin-bottom: 26rem;

    span {
        margin-right: 12rem;
    }

    span,
    h3 {
        color: #121212;
        font-size: 40rem;
        font-weight: 300;
        line-height: 1em;
        text-transform: uppercase;
        margin-bottom: 52rem;
    }

    p {
        max-width: 672rem;
        margin: 0 auto;
        color: #121212;
        font-size: 16px;
        font-weight: 300;
        line-height: 1em;
        text-transform: uppercase;

        @include media(769) {
            font-size: 32rem;
        }
    }

    &:last-child {
        margin-bottom: 0;
    }
}

.step-image {
    position: sticky;
    top: 300rem;
    width: 100%;
    height: 380rem;
    object-fit: cover;
    object-position: top center;
    margin-bottom: 40rem;

    @include media(620) {
        height: calc(80vh - 200rem);
    }

    @include media(882) {
        margin-bottom: 0rem;
        aspect-ratio: 845/500;
        height: 500rem;
    }
}

.step-image-top-right {
    object-position: top right;
}



.how-we-work {
    margin-bottom: 100rem;

    h2 {
        margin-bottom: -8px;
    }
}

.step-images-mobile-slider {
    display: flex;

    @include media(769) {
        display: none !important;
    }
}

.step-images-mobile-slider {
    width: 100%;
    overflow: hidden;
    margin-bottom: 30rem;
}

.step-images-mobile-slider .swiper-slide {
    display: flex;
    align-items: center;
    width: 100%;

}

.step-images-mobile-slider img {
    width: 100%;
    aspect-ratio: 1 / 1.2;
    display: block;
}


.how-we-work__steps {
    --bs-gutter-x: 30rem !important;
}

.step-image-container {
    position: relative;
    padding-top: 62.4rem;

    .step-image {
        display: none;

        @include media(769) {
            display: block;
        }
    }
}

.get-involved {

    .g-5,
    .gx-5 {
        --bs-gutter-x: 20rem !important;
    }

    .g-5,
    .gy-5 {
        --bs-gutter-y: 20rem !important;
    }

    margin-bottom: 200rem;

    h2 {
        margin-bottom: 30rem;
    }

    p {
        color: #121212;
        font-size: 24rem;
        font-weight: 300;
        line-height: 1em;
        text-transform: uppercase;
        margin-bottom: 30rem;

        @include media(769) {
            margin-bottom: 36rem;
        }
    }

    img {
        width: 100%;
        min-height: 300rem;
        object-fit: cover;

        @include media(620) {
            min-height: auto;
        }
    }

    .row {
        --bs-gutter-y: 30rem !important;
    }

}

footer {
    background-color: #323232;
    padding: 21rem 0 39rem;

    b {
        margin-right: 5rem;
    }

    hr {
        border: none;
        border-top: 1px solid rgba(217, 217, 217, 0.50);
        margin-top: 27px;
        margin-bottom: 39rem;
    }

    .contacts {
        a {
            display: flex;
            color: #FFF;
            font-size: 20rem;
            font-weight: 300;
            line-height: 24rem;
            text-align: center;
            align-items: center;
            justify-content: center;
            margin-bottom: 4rem;

            svg {
                margin-right: 4rem;
            }
        }
    }
}

.confidentiality {
    a:hover {
        color: #F7CA7C;
    }
}

.footer-top-section {
    flex-direction: column;
    justify-content: center;
    row-gap: 30rem;

    @include media(620) {
        flex-direction: row;
        justify-content: space-between;
    }
}

.sociality {
    gap: 17rem;
}

.sociality li,
.sociality a {
    width: 40rem;
    height: 40rem;
}

.inst,
.fb,
.lidin {
    background-size: contain;
    background-repeat: no-repeat;
    filter: brightness(2);

    &:hover {
        filter: brightness(1);
    }
}

.inst {
    background-image: url(/images/inst.svg);
}

.fb {
    background-image: url(/images/fb.svg);
}

.lidin {
    background-image: url(/images/lindin.svg);
}

.copy {
    color: #FFF;
    font-size: 16rem;
    font-weight: 300;
    line-height: 1.5em;
}

.confidentiality {
    column-gap: 21rem;

    a {
        color: #FFF;
        font-size: 16rem;
        font-weight: 300;
        line-height: 1.5em;
        /* 150% */
        text-decoration-line: underline;
        text-decoration-style: solid;
        text-decoration-skip-ink: auto;
        text-decoration-thickness: auto;
        text-underline-offset: auto;
        text-underline-position: from-font;
    }

    .stick {
        display: inline-block;
        width: 1px;
        height: 16rem;
        background-color: #fff;
    }
}

.footer-bottom-section {
    flex-direction: column;
    align-items: center;
    row-gap: 10rem;

    @include media(620) {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: row;
    }
}

.portfolio-cards {
    h2 {
        margin-bottom: 26rem;
    }
}

.margin-bottom-mb {
    margin-bottom: 70rem;

    @include media(620) {
        margin-bottom: 0rem;
    }
}

.get-involved .button-primary {
    margin-bottom: 0rem;
}

.portfolio {
    margin-bottom: 192rem;

    .col-12 a:not(.button-primary) {
        width: 100%;
    }

    .col-md-4 img {
        aspect-ratio: 1/1;

        @include media (768) {
            height: 450rem;

        }
    }

    .col-4 img,
    .col-8 img {
        height: 100%;
    }

    .col-md-8 img {
        aspect-ratio: 1100/500;
    }

    .col-8 img {
        aspect-ratio: 1100/650;
    }

    &>a {
        display: block;
        text-align: right;
        margin-top: 12rem;
    }

    p {
        color: #121212;
        font-size: 24rem;
        font-style: normal;
        font-weight: 300;
        line-height: 1em;
        text-transform: uppercase;
        margin-bottom: 36rem;
    }

    img {
        display: block;
        width: 100%;
        object-fit: cover;
        margin-bottom: 7rem;
        transition: .5s;

        &:hover {
            transform: scale(1.02);
        }
    }

    .g-5 {
        --bs-gutter-x: 20rem !important;
        --bs-gutter-y: 50rem !important;

        @include media(620) {
            --bs-gutter-x: 50rem !important;
            --bs-gutter-y: 50rem !important;
        }
    }

    a:not(.button-primary, .page-link) {
        color: #121212;
        font-size: 24rem;
        font-style: normal;
        font-weight: 300;
        line-height: 1em;
        /* 100% */
        text-decoration-line: underline;
        text-decoration-style: solid;
        text-decoration-skip-ink: none;
        text-decoration-thickness: auto;
        text-underline-offset: auto;
        text-underline-position: from-font;
        text-transform: uppercase;

        &:hover {
            color: #F7CA7C;

            &+a {
                color: #F7CA7C;
            }
        }
    }
}

// .swiper {
//     display: block !important;
//     padding-top: 50rem !important;

//     @include media(662) {
//         display: none !important;
//     }
// }

// .swiper-button-prev,
// .swiper-button-next {
//     color: #F7CA7C !important;
//     filter: drop-shadow(0 2px 6px rgba(0, 0, 0, 0.6)) !important;
// }

.page-title-container {
    padding-top: 196rem;
    max-width: 764rem;
    margin-bottom: 120rem;

    h1 {
        color: #121212;
        font-size: 96rem;
        font-style: normal;
        font-weight: 300;
        line-height: 0.833em;
        text-transform: uppercase;
        margin-bottom: 32rem;
    }

    p {
        color: #121212;
        font-family: Poppins;
        font-size: 24rem;
        font-weight: 300;
        line-height: 1em;
        text-transform: uppercase;
    }
}

.product-card {
    --bs-gutter-x: 30rem !important;
    --bs-gutter-y: 100rem !important;
    margin-bottom: 40rem;

    a {
        width: 100%;

        &:hover {
            color: #F7CA7C !important;

            &~a {
                color: #F7CA7C !important;
            }
        }
    }

    img {
        aspect-ratio: 1 / 1;
        min-height: auto;
        width: 100%;
        margin-bottom: 17rem;
        object-fit: cover;
        transition: .3s;

        &:hover {
            transform: scale(1.02);
        }
    }

    strong,
    p {
        display: block;
        color: #121212;
        font-family: Poppins;
        font-size: 24rem;
        font-weight: 300;
        line-height: 1em;
        /* 100% */
        text-transform: uppercase;
        margin-bottom: 12rem;
    }

    p {
        font-size: 20rem;
        font-weight: 275;
        margin-bottom: 9rem;
    }

    a {
        color: #121212;
        font-family: Poppins;
        font-size: 20rem;
        font-style: normal;
        font-weight: 300;
        line-height: 1.2em;
        text-decoration-line: underline;
        text-decoration-style: solid;
        text-decoration-skip-ink: none;
        text-decoration-thickness: auto;
        text-underline-offset: auto;
        text-underline-position: from-font;
        text-transform: uppercase;
    }
}


.pagination {
    display: flex;
    gap: 10rem;

    .page-link {
        display: flex;
        justify-content: center;
        align-items: center;
        list-style: none;
        width: 50rem;
        height: 50rem;
        background: #F7CA7C;
        color: #121212;
        font-size: 24rem;
        font-weight: 300;
        line-height: 1em;
        text-transform: uppercase;
        text-decoration: none;
        transition: .5s;
    }

    .page-item.active>.page-link,
    .page-link:hover {
        background-color: #000;
        color: #fff;
    }
}

.blog {
    margin-bottom: 201rem;

    .page-title-container {
        max-width: 651rem;
    }
}


@media screen and (max-width: 450px) {

    .button-border,
    .button-transparent,
    .button-primary {
        font-size: 28rem;
    }
}

.blog {
    h1 {
        color: #121212;
        font-size: 96rem;
        font-style: normal;
        font-weight: 300;
        line-height: 0.93em;
        text-transform: uppercase;
    }
}

.blog-article {
    margin: 0 auto;
    max-width: 1200rem;


    h2 {
        color: #121212;
        font-family: Poppins, sans-serif;
        font-size: 64rem;
        font-weight: 300;
        line-height: 1.1em;
        margin-bottom: 34rem;
        text-transform: none;
    }

    h3 {
        color: #121212;
        font-family: Poppins, sans-serif;
        font-size: 48rem;
        font-weight: 300;
        line-height: 1.2em;
        margin-bottom: 29rem;
    }

    h4 {
        color: #121212;
        font-family: Poppins, sans-serif;
        font-size: 32rem;
        font-weight: 300;
        line-height: 1.4em;
        margin-bottom: 29rem;
    }

    p {
        color: #121212;
        font-family: Poppins, sans-serif;
        font-size: 32rem;
        font-weight: 300;
        line-height: 1.2em;
        margin-bottom: 35rem;
    }

    img {
        width: 100%;
        height: auto !important;
        max-width: 1200rem !important;
        aspect-ratio: 1 / 1 !important;
        object-fit: cover !important;
    }
}

.article {
    padding-top: 196rem;

    h1 {
        font-size: 65rem;
        margin-bottom: 100rem;

        @include media(620) {
            margin-bottom: 180rem;
            font-size: 80rem;
        }
    }

    h2 {
        font-size: 40rem;

        @include media(620) {
            font-size: 64rem;
        }
    }

    h3 {
        font-size: 35rem;

        @include media(620) {
            font-size: 48rem;
        }
    }

    p {
        font-size: 30rem;

        @include media(620) {
            font-size: 32rem;
        }
    }
}

.legal {
    h1 {
        font-size: 80rem;
    }

    max-width: 993rem;
    margin-bottom: 100rem;

    h2 {
        font-size: 40rem;
        margin-top: 60rem;
        margin-bottom: 20rem;
    }

    h3 {
        font-size: 30rem;
        font-weight: 500;
        margin: 20rem 0;
    }

    p,
    ul,
    li,
    strong,
    address,
    h3 {
        font-size: 25rem;
    }

    strong {
        font-weight: 400;
    }

    ul {
        padding-left: 35rem;
    }

    address {
        margin-top: 30rem;
    }
}

.contact-request {
    padding-top: 193rem;
    margin-bottom: 200rem;

    @include media (2000) {
        margin-bottom: 250rem;
    }

    img {
        width: 100%;
        height: 100%;
        aspect-ratio: 1 / 1;
        object-fit: cover;
    }

    h1 {
        color: #121212;
        font-size: 48rem;
        font-weight: 300;
        line-height: 1em;
        text-transform: uppercase;
        margin-bottom: 86rem;
    }

    form {
        p {
            color: #121212;
            font-size: 20rem;
            font-weight: 300;
            line-height: 1.2em;
            text-transform: uppercase;
            margin-bottom: 5rem;
        }

        input:not(input[type=checkbox]),
        select,
        textarea {
            display: flex;
            align-items: center;
            outline: none;
            appearance: none;
            border-radius: 0;
            width: 100%;
            border: 2rem solid #000;
            height: 70rem;
            padding: 0 20rem;
            color: rgba(18, 18, 18, 1);
            font-family: Poppins;
            font-size: 22rem;
            font-weight: 300;
            line-height: 1em;
            text-transform: capitalize;
        }

        textarea {
            height: 100rem;
            padding: 19rem 22rem;
            margin-bottom: 25rem;
            resize: none;

            &[name="project_details"] {
                height: 200rem;
            }

            &:last-child {
                margin-bottom: 50rem;
            }
        }

        input[type=email].email {
            text-transform: lowercase;

            &:placeholder-shown {
                text-transform: none;
            }
        }

        select {
            line-height: 1.2em;
            background: url(/images/arrow.svg) no-repeat right 6rem center;
            background-size: 50rem;
        }

        button {
            width: 212rem;
            appearance: none;
            outline: none;
            border: none;
            cursor: pointer;
        }
    }

    .g-101 {
        --bs-gutter-x: 101rem !important;
        --bs-gutter-y: 101rem !important;
    }

    .g-29 {
        --bs-gutter-x: 29rem !important;
        --bs-gutter-y: 25rem !important;
    }

    .gap-29 {
        column-gap: 29rem;
        row-gap: 15rem;

        @include media(769) {
            row-gap: 15px;
        }
    }

    .mb-25 {
        margin-bottom: 15rem;

        @include media(769) {
            margin-bottom: 25rem;
        }
    }

    .mb-105 {
        margin-bottom: 70rem;

        @include media(500) {
            margin-bottom: 105rem;
        }
    }

    .checkbox {
        display: flex;
        align-items: center;
        column-gap: 8rem;
        min-width: 98px;
        color: #121212;
        font-size: 24rem;
        font-weight: 275;
        line-height: 1.05em;
        text-transform: capitalize;

        @include media(500) {
            font-size: 20rem;
        }

        input[type=checkbox] {
            width: 20rem;
            height: 20rem;
            border-radius: 10rem;
            border: 1rem solid #121212;
            appearance: none;

            &:checked {
                background-color: #121212;
            }
        }
    }

    .alert {
        font-size: 20rem;
    }
}

.contact-request-description {
    color: #121212;
    text-align: center;
    font-size: 32rem;
    font-weight: 275;
    line-height: 35rem;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 120rem;

    @include media(500) {
        margin-bottom: 186rem;
    }
}

.checkboxes-mb {
    flex-direction: column;

    @include media(500) {
        flex-direction: row;
    }
}

.project {
    padding-top: 193rem;

    h1 {
        color: #121212;
        font-size: 96rem;
        font-weight: 300;
        line-height: 0.83em;
        margin-bottom: 90rem;
        text-transform: uppercase;
    }
}

.project-description-row {
    --bs-gutter-x: 50rem !important;
    --bs-gutter-y: 40.5rem !important;
    margin-bottom: 191rem;
    flex-wrap: wrap-reverse !important;

    @include media (769) {
        --bs-gutter-y: 50rem !important;
    }

    p {
        color: #121212;
        font-size: 32rem;
        font-weight: 300;
        line-height: 1em;
        margin-bottom: 40.5rem;
        text-transform: uppercase;

        @include media(769) {
            margin-bottom: 85rem;
        }
    }

    table {
        width: 100%;
        border-collapse: collapse;
        color: #121212;
        font-size: 23rem;
        font-style: normal;
        font-weight: 300;
        line-height: 2.22em;
        margin-bottom: 40.5rem;
        text-transform: uppercase;

        @include media(620) {
            font-size: 18rem;
        }

        tr {
            border: none;
            border-top: 0.8px solid rgba(18, 18, 18, 0.70);

            &:last-child {
                border-bottom: 0.8px solid rgba(18, 18, 18, 0.70);
            }

            td:last-child {
                text-align: right;
            }
        }
    }

    img {
        width: 0;
        object-fit: cover;
    }
}

.project-gallery {

    h2,
    h3 {
        text-align: center;
    }

    h2 {
        margin-bottom: 90rem;
    }

    h3 {
        padding-top: 75rem;
        margin-bottom: 20rem;
        color: #1E1E1E;
        font-size: 48rem;
        font-weight: 300;
        line-height: 1.33em;
        text-transform: uppercase;
    }

    img {
        width: 100%;
    }
}


.swiper {
    width: 100%;
    padding: 20px 0;
}

.swiper-slide {
    text-align: center;
}

.swiper-slide {
    img {
        display: block;
        margin: 0 auto;
        width: calc(100% - 30rem);
        height: auto;
        object-fit: cover;
        cursor: pointer;
    }
}

@media (max-width: 768px) {

    .design-slider,
    .reality-slider {
        touch-action: none;
        pointer-events: none;
    }
}

@media screen and (max-width: 768px) {

    .portfolio .col-md-8 img,
    .portfolio .col-md-4 img {
        aspect-ratio: 1 / 1;
    }
}


a.full-portfolio-btn {
    display: inline-block;
    width: auto;

    @include media(620) {
        display: none;
    }

    &+a {
        display: none;

        @include media(620) {
            display: block;
        }
    }
}

.portfoio-btn-container {
    display: flex;
    justify-content: start;
    padding-top: 50rem;

    @include media(620) {
        padding-top: 12rem;
    }
}

.steps-skip {
    position: fixed;
    align-items: center;
    justify-content: center;
    bottom: 20rem;
    right: 20rem;
    width: 50px;
    height: 50px;
    background-color: #F7CA7C;
    background-image: url(/images/arrow.svg);
    z-index: 10;

}

.steps-skip.hidden {
    display: none;
}

.steps-skip.visible {
    display: flex;

}

.step-image-container {
    position: relative;
}

.step-image-wrapper {
    position: sticky;
    display: flex;
    top: 100px;
    /* або скільки треба від верхнього краю */
    height: auto;
    width: 100%;
    overflow: hidden;
}

.step-image {
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    object-fit: cover;
    transition: transform 0.6s ease;
}

.step-image.current {
    z-index: 1;
    transform: translateX(0%);
}

.step-image.next {
    z-index: 2;
    transform: translateX(100%);
}

.desktop-only {
    display: none;
}

.mobile-only {
    display: block;
}

@media (min-width: 768px) {
    .desktop-only {
        display: block;
    }

    .mobile-only {
        display: none;
    }
}

.step-images-slider-desktop {
    position: sticky;
    top: 300rem;
    z-index: 1;
}

.step-images-slider-desktop .swiper-slide img,
.step-images-mobile-slider .swiper-slide img {
    width: 100%;
    height: 500rem;
    object-fit: cover;
}

.step-images-slider-desktop {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}

.image-detail-popup {
    position: fixed;
    top: 0rem;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
}

.image-detail-popup img {
    width: 90%;
    max-height: 80vh;
    object-fit: contain;
}

/* Курсор-пойнтер на зображеннях галереї */
.gallery-image {
    cursor: pointer;
    transition: transform 0.3s ease;
}

.gallery-image:hover {
    transform: scale(1.05);
}

.image-detail-popup .close-btn {
    position: absolute;
    top: 20px; 
    right: 30px;
    font-size: 50rem;
    font-weight: 300;
    color: white;
    cursor: pointer;
    user-select: none;
    transition: color 0.3s;
    line-height: 1;
    letter-spacing: 0;
    transition: .2s;
}

.image-detail-popup .close-btn:hover {
    transform: scale(1.2);
    color: #F7CA7C;
}
